<div class="card">
    <div class="card-body">
        <h1> a lo mejor aqui van las estadisticas </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere repellendus mollitia labore totam animi quaerat quis debitis, exercitationem fugit quas necessitatibus cumque tempore amet nulla voluptatum quo quae doloremque eligendi laudantium. Mollitia esse accusamus, voluptatum maiores atque aperiam eligendi dolor.</p>
        
    </div>
</div>