<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicacion de Restaurante nodeJS y MongoDB</h1>
    <p class="lead">Esta es la primera parte del sistema donde se ve e index</p>
    <hr class="my-4">
    <p>En esta seccion va parte de texto que no seirve pero hace que la pagina se vea mas profecional y mas   
        perrona  y a lo mejor nos pagan mas giño giño 
    </p>
    <a href="https://github.com/RoynisDEV" class="btn btn-outline-success btn-lg">RoynisDEV</a>
</div>